.banner {
    background: url(../../imagens/banner.jpeg) 27% no-repeat;
    min-width: 350px;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.9;
}